
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Изменения в списке друзей"/>

        <title>Что изменилось у друзей</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/container.css}"/>
        <link rel="stylesheet" th:href="@{/css/menu.css}"/>
        <link rel="stylesheet" th:href="@{/css/pagination.css}"/>
        <link rel="stylesheet" th:href="@{/css/table.css}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" th:inline="javascript">
            window.contextPath = /*[[@{/}]]*/ '';
            window.baseUrlParams = /*[[${baseUrlParams}]]*/ '';
        </script>
        <script th:src="@{/js/tooltip.init.js}"></script>
        <script th:src="@{/js/data-change.search.js}"></script>
    </head>
    <body>
        <div class="container-fluid app-container">
            <th:block th:replace="fragments :: menu('friend-change-list', ${baseUrlParams})">...</th:block>
            <div class="col-sm-12">
                <table class="table table-striped vertical-middle">
                    <tr class="row">
                        <th></th>
                        <th>Фамилия и имя</th>
                        <th></th>
                        <th>Промежуток&nbsp;&nbsp;<a href="#" data-toggle="tooltip" data-placement="right" title="Проверка списка друзей происходит раз в определённый промежуток времени. Само добавление или удаление происходит где-то между этими проверками списка. В этом столбце указан диапазон времени между ближайшими проверками, в который произошло событие."><span class="glyphicon glyphicon-question-sign"></span></a></th>
                        <th colspan="2" th:text="#{enum.ChangeType.ADDED} + ' / ' + #{enum.ChangeType.REMOVED}">...</th>
                    </tr>
                    <tr class="row" th:if="${resultList.isEmpty()}">
                        <td colspan="6" class="text-center bg-info">На текущей момент нету ни одной записи, чтобы показать</td>
                    </tr>
                    <tr class="row" th:each="friendChange : ${resultList}">
                        <td class="padding0 width50"><a th:href="${friendChange.friendData.url}" target="_blank"><img th:src="${friendChange.friendData.photo50}"/></a></td>
                        <td><a th:href="${friendChange.friendData.url}" target="_blank" th:text="${friendChange.friendData.firstAndLastName}">...</a></td>
                        <td><a th:href="@{'data-change-list?' + ${baseUrlParams} + '&amp;friend_remote_id=' + ${friendChange.friendData.remoteId}}">Что нового?</a></td>
                        <td>
                            <div th:text="${#dates.format(friendChange.detectTimeMin, 'dd.MM.yyyy HH:mm')}">...</div>
                            <div th:text="${#dates.format(friendChange.detectTimeMax, 'dd.MM.yyyy HH:mm')}">...</div>
                        </td>
                        <td class="width50"></td>
                        <td class="width100">
                            <a th:classappend="${friendChange.changeType == T(ru.friends.model.domain.ChangeType).ADDED ? 'text-success' : 'text-danger'}"
                               th:text="#{enum.ChangeType.__${friendChange.changeType}__}" th:href="@{'?' + ${baseUrlParams} + '&amp;change_type=' + ${friendChange.changeType.name()}}">...</a>
                        </td>
                    </tr>
                </table>
                <th:block th:replace="fragments :: pagination('friend-change-list?' + ${allUrlParams} + '&amp;', ${totalPages})">...</th:block>
            </div>
        </div>
    </body>
</html>
